# 编译生成的文件
*.o
*.obj
*.exe
*.out
*.dll
*.so
*.a

# 预编译头文件
*.pch
*.gch

# 调试信息文件
*.pdb
*.dSYM/

# 自动生成的文件
*.bak
*.swp
*.log
*.tmp

# 依赖文件
*.d

# 配置文件
config.status

# 由 IDE 或构建工具生成的文件
.vs/
.vscode/
Makefile
CMakeFiles/
cmake_install.cmake
CMakeCache.txt
build/
